<!-- include Header-->
<%- include('../partial/_userHeader')%>
<!--include /Header -->
<style>
.section-border {
    min-height:70vh;
}  
p{
    padding :42px;
}  
</style>
<div class="container">
    <h1><span style="text-indent: 20px;">Cart</span></h1>
    <hr>
    <div class="section-border">
    <section>
        <p>Thank you for shopping with us</p>
        <p>Your Order has been placed</p>
        <p>Products will be delieved with in 7 days</p>
    </section>

    </div>
</div>
<!--include Footer-->
<%- include('../partial/_userFooter')%>
<!--include /Footer-->
