<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="/css/main-style.css">
    <title>WedLook</title>
<style>
    .errMsg{
       color:#ff0000;
    }
    a{
        text-decoration: none;
    }
 </style>

</head>
<body>
    <!--Header-->
    <header>
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">WedLook</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/view-categories">Products </a>
                    </li>
                    <% if(user){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/view-wishlist">Wishlist</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="/view-cart">Cart</a>
                     </li>
                     <li>
                        <a class="nav-link" href="#">Orders</a>
                     </li>
                     <% } %>
                </ul>
                
            </div>
            <div>
                    <% if(user){%>
                        <h6><%= user.name %></h6>  
                        <h6><a href="/logout" class="nav-link"> Logout</a></h6>
                    <%} else { %>
                        <h6><a href="/login" class="nav-link">Login</a></h6>
                    <% } %>
            </div>
        </nav> -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #000;">
            <div class="container"> 
               <div class="logo">
                <a class="navbar-brand custom_logo" href="#"><span>WedLook</span></a>
               </div>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation"> 
                 <span class="fa fa-bars"></span> 
               </button> 
               <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav ml-auto"> 
                   <li class="nav-item ml-2"><a class="nav-link" href="/home">Home</a> </li>
                   <li class="nav-item ml-2"> <a class="nav-link" href="/view-categories">Products</a> </li>
                   <li class="nav-item ml-2"> <a class="nav-link" href="/view-wishlist">WishList</a> </li> 
                   <li class="nav-item ml-2"> <a class="nav-link" href="/view-cart">Cart</a> </li> 
                   <li class="nav-item ml-2"> <a class="nav-link" href="#">Orders</a> </li> 
                </ul>
                <ul class="navbar-nav ml-auto"> 
                    <% if(user){%>
                        <li class="nav-item ml-2"> <a class="nav-link" href="#"> <i class="fa-solid fa-user"></i> </a> </li> 
                        <li class="nav-item ml-2"> <a class="nav-link" href="/logout"> <i class="fa-solid fa-power-off"></i> </a> </li> 
                    <%} else { %>
                        <li class="nav-item ml-2"> <a class="nav-link" href="/login"> <i class="fa-solid fa-power-off"></i> </a> </li> 
                    <% } %>
                </ul> 
              </div>
           </div>
           </nav>
           
     </header>
    <!--/Header-->
